<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Players</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <td>
        <a routerLink="{{game.GameId}}">{{game.Name}}</a>
      </td>
      <td>{{game.MinPlayers + " - " + game.MaxPlayers}}</td>
      <td>{{game.Owner.DisplayName}}</td>
    </tr>
  </tbody>
</table>
<div id="page-control">
  <pagination-controls *ngIf="games.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
</div>