#page-control {
  text-align: center;
}

.centered {
  text-align: center;
}

@media screen and (max-width: 515px) {
  .ownerCol {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }
}