<table class="table">
  <thead>
    <tr>
      <th>Game</th>
      <th class="centered">Players</th>
      <th class="ownerCol">Owner</th>
      <th class="centered">My Rating</th>   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of (games | paginate: { itemsPerPage: itemsPerPage, currentPage: page }); let in = index" id="in">
      <td>
        <a routerLink="{{game.GameId}}">{{game.Name}}</a>
      </td>
      <td class="centered">{{game.MinPlayers + " - " + game.MaxPlayers}}</td>
      <td class="ownerCol">{{game.Owner.DisplayName}}</td>
      <td class="centered">
        <star-rating-comp
          [starType]="'svg'"
          [rating]="game.MyRating"
          [hoverEnabled]="true"
          (onClick)="onClick($event, game.GameId)" 
          (onRatingChange)="onRatingChange($event)"
          (onHoverRatingChange)="onHoverRatingChange($event)">
          </star-rating-comp>
      </td>
    </tr>
  </tbody>
</table>
<div id="page-control">
  <pagination-controls *ngIf="games.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
</div>