<form (ngSubmit)="onSubmit(ngModel); gameNightForm.reset()" #gameNightForm="ngForm">
  <div class="form-group">
    <label for="Name">Name</label>
    <input [(ngModel)]="model.Name" name="Name" id="Name"
      #Name="ngModel" type="text" class="form-control" required />
    <div [hidden]="Name.valid || Name.pristine"
          class="alert alert-danger">
      Name is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block"
    [disabled]="!gameNightForm.form.valid">
    Add
  </button>
</form>