<form (ngSubmit)="onSubmit(ngModel); gameNightForm.reset()" #gameNightForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="model.name" name="name" id="name"
      #name="ngModel" type="text" class="form-control" required />
    <div [hidden]="name.valid || name.pristine"
          class="alert alert-danger">
      Name is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block"
    [disabled]="!gameNightForm.form.valid">
    Add
  </button>
</form>