<div class="matches">
  <h2>Match History</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Game</th>
        <th>Winner</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <h2>New Match</h2>
  <form>
    <div class="form-group">
      <label for="date">Date</label>
      <input name="date" type="date" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="game">Game</label>
      <input type="text" name="game" required />
    </div>
    <div class="form-group">
      <label for="players">Players</label>
      <input type="text" name="players" required />
    </div>
    <div class="form-group">
      <label for="winner">Winner</label>
      <input type="text" name="winner" />
      <small id="winnerHelp" class="form-text text-muted">Selectable from the list of Players.</small>
    </div>
    <button class="btn btn-primary btn-block">Add</button>
  </form>
</div>