<h2>Match Details</h2>
<p>Date: {{match.date}}</p>
<p>Game: {{match.game.name}}</p>

<h4>Players</h4>
<table class="table">
  <thead>
    <th>Name</th>
    <th>First Timer</th>
    <th>Team</th>
    <th>Score</th>
    <th>Winner</th>
  </thead>
  <tbody>
    <tr *ngFor="let player of match.players">
      <td>{{player.firstName}} {{player.lastName}}</td>
      <td><span *ngIf="player.firstTime">X</span></td>
      <td>{{player.team}}</td>
      <td>{{player.score}}</td>
      <td><span *ngIf="player.winner">X</span></td>
    </tr>
  </tbody>
</table>
