<div *ngIf="!isEditing">
  <h3>Match Detail</h3>
  <app-match-info [match]="match"></app-match-info>

  <button class="btn btn-primary" (click)="toggleEdit()">Edit</button>
  <button class="btn btn-secondary" (click)="back()">Go Back</button>

</div>

<div *ngIf="isEditing">
  <app-match-form [members]="members" [games]="collection" [match]="matchModel" (addMatch)="updateMatch($event)"></app-match-form>
  <button class="btn btn-danger" id="cancel-edit" (click)="cancelEdit()">Cancel</button>
</div>