<div *ngIf="!isEditing">
  <h3>Match Detail</h3>
  <p><strong>Game:</strong> {{match.Game.Name}}</p>
  <p><strong>Date:</strong> {{match.Date | date}}</p>

  <h4>Players</h4>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>First Timer</th>
      <th>Team</th>
      <th>Score</th>
      <th>Winner</th>
    </thead>
    <tbody>
      <tr *ngFor="let player of match.Players">
        <td>{{player.FirstName}} {{player.LastName}}</td>
        <td><span *ngIf="player.FirstTime">X</span></td>
        <td>{{player.Team}}</td>
        <td>{{player.Score}}</td>
        <td><span *ngIf="player.Winner">X</span></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="toggleEdit()">Edit</button>
  <button class="btn btn-secondary" (click)="back()">Go Back</button>

</div>

<div *ngIf="isEditing">
  <app-match-form [members]="members" [games]="collection" [match]="matchModel" (addMatch)="updateMatch($event)"></app-match-form>
  <button class="btn btn-danger" id="cancel-edit" (click)="cancelEdit()">Cancel</button>
</div>