  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Game</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <a routerLink="{{match.MatchId}}">
          <td>{{match.Date}}</td>
        </a>
        <td>{{match.Game.Name}}</td>
        <td>
          <span *ngFor="let player of match.Players">
            | {{player.FirstName}} {{player.LastName}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
