<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleNavbarExpand()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">
    Game Night Buddy
     <small-loading-indicator *ngIf="isLoading" id="brand-loading-indicator"></small-loading-indicator> 
  </a>
  <div class="collapse navbar-collapse" [ngClass]="navbarClasses" id="navbarToggleControl">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  *ngIf="user?.UserId">
        <a class="nav-link" routerLink="/explore" routerLinkActive="active">Explore</a>
      </li>
      <li class="nav-item" *ngIf="user?.UserId">
        <a class="nav-link" routerLink="/my-game-nights" routerLinkActive="active">My Game Nights</a>
      </li>
      <li class="nav-item" *ngIf="isLoading" id="nav-item-loading-indicator">
        <a class="nav-link">
          <small-loading-indicator></small-loading-indicator>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      
      <li class="nav-item dropdown" *ngIf="user && user.UserId">
        <a class="nav-link dropdown-toggle" id="navbarProfileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.DisplayName || user.Email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/my-collection">My Collection</a>
          <a class="dropdown-item" routerLink="/profile">My Profile</a>          
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!user?.UserId">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
