<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Game Night Buddy</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/explore" routerLinkActive="active">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="user && user.uid" routerLink="/my-game-nights" routerLinkActive="active">My Game Nights</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" *ngIf="user && user.uid">
        <a class="nav-link dropdown-toggle" id="navbarProfileDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.displayName || user.email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/my-collection">My Collection</a>
          <a class="dropdown-item" routerLink="/my-matches">My Matches</a>
          <a class="dropdown-item" routerLink="/profile">My Profile</a>          
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!user || !user.uid">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
