<div class="about-container">
  <div class="center-text">
    <h2>About</h2>  
  </div>
  <p>
    Game Night Buddy is about connecting people and enjoying board games. Anyone can create a customizable destination for their board game friends, where you can plan your next get-together, keep track of your collection and record a history of any match played. Perfect for groups large and small, family games, heavy strategy board games, or that fun game you completely made up just now.
  </p>
  <p>
    This is the user-friendly game night manager and planner you've been looking for. Integrated with BoardGameGeek, import your collection in a few simple steps, or start from scratch. Signing up via Facebook or Email, creating a game night, adding games and inviting members can all be done in minutes. Enhance your board gaming community with Game Night Buddy, get started now!
  </p>
  <p>
    Game Night Buddy, started in 2017, is a personal project of Matt Kraatz, a developer and board game enthusiast in Nashville, Tennessee. After participating in a regular game night, where meetups were loosely coordinated via Facebook and winners were honored with their initials on a chalkboard, Matt decided to build a better solution for board gaming groups.
  </p>
</div>