<div class="explore-game-night-list">
  <div *ngIf="gameNights?.length == 0">
    <p>Looks like there aren't any more game nights to join, nice job! How about checking in on any of your existing game nights over <a routerLink="/my-game-nights">here</a>.</p>
  </div>
  <table *ngIf="gameNights?.length > 0" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let night of gameNights | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{night.Name}}</td>
        <td>
          <button (click)="joinNight.emit(night)" class="btn btn-primary">
            Join
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="page-control">
    <pagination-controls *ngIf="gameNights.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>