<div class="explore-game-night-list">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let night of gameNights | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{night.Name}}</td>
        <td>
          <button (click)="joinNight.emit(night)" class="btn btn-primary">
            Join
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="gameNights.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
</div>