nav {
  padding: 0 8px 2px;
}

button {
  padding: 0px 4px;
  margin: 3px 8px;
}

#night-nav-logo {
  max-height: 30px;
  max-width: 30px;
  margin-top: -4px;
}

#game-night-name {
  margin-right: 36px;
}

.nav-link {
  text-align: center;
}

.nav-icons {
  max-height: 20px;
  max-width: 20px;
  margin-top: -4px;
}

.reload { 
  max-height: 22px;
  margin-bottom: 1px;
}

.spinning-reload {
  animation: Indicator-spin infinite 1s linear;
}

@media (max-width: 415px) {
  #game-night-name {
    margin-right: 58px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .nav-link {
    text-align: right;
  }
}

@keyframes Indicator-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}