nav {
  padding: 0 24px 2px;
}

button {
  padding: 0px 4px;
  margin: 3px 8px;
}

#game-night-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.reload { 
  max-height: 22px;
  margin-bottom: 1px;
}

.spinning-reload {
  animation: Indicator-spin infinite 1s linear;
}

@media screen and (max-width: 415px) {
    #game-night-name {
      margin-right: 50px;
    }
}

@keyframes Indicator-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}