<h4>My Profile</h4>
<form (ngSubmit)="updateProfile()" #profileForm="ngForm">
  <div [hidden]="profileForm.valid"
        class="alert alert-info">
    Please complete your profile
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input [(ngModel)]="model.firstName" name="firstName" id="firstName"
      #firstName="ngModel" type="text" class="form-control" required />
    <div [hidden]="firstName.valid || firstName.pristine"
          class="alert alert-danger">
      First Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input [(ngModel)]="model.lastName" name="lastName" id="lastName"
      #lastName="ngModel" type="text" class="form-control" required />
    <div [hidden]="lastName.valid || lastName.pristine"
          class="alert alert-danger">
      Last Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="model.email" name="email" id="email" required
      #email="ngModel" type="text" class="form-control" placeholder="optional" />
    <div [hidden]="lastName.valid || lastName.pristine"
          class="alert alert-danger">
      Email is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block"
    [disabled]="!profileForm.form.valid">
    Update
  </button>
</form>