<h4>My Profile</h4>
<div *ngIf="!hideProfileUpdateSuccess" class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully updated your profile.
</div>
<form (ngSubmit)="updateProfile()" #profileForm="ngForm">
  <div [hidden]="profileForm.valid"
        class="alert alert-info">
    Please complete your profile
  </div>
  <div class="form-group">
    <label for="LastName">Display Name</label>
    <input [(ngModel)]="model.DisplayName" name="DisplayName" id="DisplayName"
      #DisplayName="ngModel" type="text" class="form-control" required />
    <div [hidden]="DisplayName.valid || DisplayName.pristine"
          class="alert alert-danger">
      Display Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="FirstName">First Name</label>
    <input [(ngModel)]="model.FirstName" name="FirstName" id="FirstName"
      #FirstName="ngModel" type="text" class="form-control" required />
    <div [hidden]="FirstName.valid || FirstName.pristine"
          class="alert alert-danger">
      First Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="LastName">Last Name</label>
    <input [(ngModel)]="model.LastName" name="LastName" id="LastName"
      #LastName="ngModel" type="text" class="form-control" required />
    <div [hidden]="LastName.valid || LastName.pristine"
          class="alert alert-danger">
      Last Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input [(ngModel)]="model.Email" name="Email" id="Email" required
      #Email="ngModel" type="text" class="form-control" />
    <div [hidden]="Email.valid || Email.pristine"
          class="alert alert-danger">
      Email is required
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block"
    *ngIf="!isProfileUpdating"
    [disabled]="!profileForm.form.valid">
    Update
  </button>
  <button type="button" class="btn btn-primary btn-block"
    *ngIf="isProfileUpdating"
    [disabled]="true">
    <small-loading-indicator></small-loading-indicator>
  </button>
</form>