<div class="container">
    <app-navbar [user]="user | async"></app-navbar>
    <router-outlet></router-outlet>
    <hr>
    <div class="app-footer">
        <span class="app-footer">
            Icons designed by
            <a href="https://smashicons.com/" target="_blank">Madebyoliver</a>
            and <a href="http://www.freepik.com/" target="_blank">Freepik</a>
            from <a href="https://www.flaticon.com/" target="_blank">Flaticon</a>
        </span>
        <br/>
        <span class="app-footer">
            &copy; 2017 GameNightBuddy.com
        </span>
    </div>
</div>