<div id="email-auth-component">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a [ngClass]="loginTabClasses" (click)="setTab('login')">Login</a>
    </li>
    <li class="nav-item">
      <a [ngClass]="registerTabClasses" (click)="setTab('register')">Register</a>
    </li>
  </ul>

  <div *ngIf="loginTabClasses.active">
    <form (ngSubmit)="onLoginSubmit(ngModel); loginForm.reset()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="loginModel.Email" name="email" id="email"
          #email="ngModel" type="email" class="form-control" required />
        <div [hidden]="email.valid || email.pristine"
              class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="loginModel.Password" name="password" id="password"
          #password="ngModel" type="password" class="form-control" required />
        <div [hidden]="password.valid || password.pristine"
          class="alert alert-danger">
          Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block"
        [disabled]="!loginForm.form.valid">
        Login
      </button>
    </form>
  </div>

  <div *ngIf="registerTabClasses.active">
    <form (ngSubmit)="onRegisterSubmit(ngModel); registerForm.reset()" #registerForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="registerModel.Email" name="email" id="email"
          #email="ngModel" type="email" class="form-control" required />
        <div [hidden]="email.valid || email.pristine"
              class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="registerModel.Password" name="password" id="password"
          #password="ngModel" type="password" class="form-control" required />
        <div [hidden]="password.valid || password.pristine"
          class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input [(ngModel)]="registerModel.ConfirmPassword" name="confirmPassword" id="confirmPassword"
          #confirmPassword="ngModel" type="password" class="form-control" required />
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
          class="alert alert-danger">
          You must confirm your password
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block"
        [disabled]="!registerForm.form.valid">
        Register
      </button>
    </form>
  </div>
</div>