ul {
  padding: 0 20px 4px;
  margin: 2px 0;
}

ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

hr {
  margin: 4px 0;
}

p {
  margin-bottom: 0px;
}

td {
  vertical-align: center;
  padding: 14px 0 0;
}

.welcome-message {
  text-align: center;
}

.host-names {
  border-right: 1px solid grey;
  margin-right: 6px;
}

.host-names:last-child {
  border-right: none;
  margin-right: 0;
}

.page-icons {
  height: 50px;
  width: 50px;
  margin: 6px 12px;
}