<ul>
  <li>
    <b>Home</b>
  </li>
  <li>
    <a routerLink="collection/recommender">What Should We Play?</a>
  </li>
</ul>
<div class="container home-container">
  <div class="row">
    <div class="col">
      <p>Welcome to {{gameNight.Name}}!</p>
      <p>If this is your first time, check out the <b>Collection</b> page to see what games are available to play. Add your own games to the list, and rate games that you've played before.</p>
      <p>The <b>Members</b> page lets you scope out the competition and invite other gamers in on the fun.</p>    
      <p>And most importantly, the <b>Matches</b> area let's you review past match-ups and record victories for the entire game night to see!</p>
      <br/>
      <p>Finally, from the top of this <b>Home</b> page, you'll find other tools at your disposal...</p>
    </div>
  </div>
</div>