ul {
  padding: 0 20px 4px;
  margin: 2px 0;
}

ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

hr {
  margin: 4px 0;
}

.welcome-message {
  text-align: center;
}

div.page-info {
  min-height: 74px;
}

.host-names {
  border-right: 1px solid grey;
  margin-right: 6px;
}

.host-names:last-child {
  border-right: none;
  margin-right: 0;
}

.page-icons {
  float: left;
  max-height: 50px;
  max-width: 50px;
  margin: 12px;
}