<div *ngIf="!isEditing">
  <app-game-info [game]="game"></app-game-info>

  <button *ngIf="isOwner" class="btn btn-primary" (click)="toggleEdit()">Edit</button>
  <button *ngIf="isOwner" class="btn btn-danger" (click)="confirmDelete(content)">Delete</button>
  <br/>
  <button class="btn btn-secondary" (click)="back()">Go Back</button>

</div>

<div *ngIf="isEditing">
  <app-game-form [game]="game" [members]="members" (addGame)="updateGame($event)"></app-game-form>
  <button class="btn btn-danger btn-block" id="cancel-edit" (click)="cancelEdit()">Cancel</button>
</div>

<!-- CONFIRM DELETE MODAL -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this game? <i>This cannot be undone.</i></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="c('Delete')">Delete</button>
  </div>
</ng-template>