<table class="table">
  <tr *ngFor="let activity of activities | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
    <td [ngSwitch]="activity.EntityType">
      <div *ngSwitchCase="'GAME'">
        <span *ngIf="activity.ActivityType == 'CREATE'">{{activity.DateCreated | date}} | {{activity.User.DisplayName}} created a game: <a routerLink="collection/{{activity.EntityId}}">{{activity.Entity.Name}}</a></span>
        <span *ngIf="activity.ActivityType == 'UPDATE'">{{activity.DateCreated | date}} | {{activity.User.DisplayName}} updated a game: <a routerLink="collection/{{activity.EntityId}}">{{activity.Entity.Name}}</a></span>        
      </div>
      <div *ngSwitchCase="'MEMBER'">
        <span *ngIf="activity.ActivityType == 'CREATE'">{{activity.DateCreated | date}} | A new player joined! Welcome {{activity.Entity.DisplayName}}</span>
      </div>
      <div *ngSwitchCase="'MATCH'">
        <span *ngIf="activity.ActivityType == 'CREATE'">{{activity.DateCreated | date}} | 
          <span *ngFor="let player of activity.Entity.Players; let i = index;">
            <span *ngIf="i < activity.Entity.Players.length - 1">{{player.DisplayName}}, </span>            
            <span *ngIf="i == activity.Entity.Players.length - 1">and {{player.DisplayName}} </span>
          </span>
          played <a routerLink="matches/{{activity.EntityId}}">{{activity.Entity.Game.Name}}</a>
        </span>
        <span *ngIf="activity.ActivityType == 'UPDATE'">{{activity.DateCreated | date}} | 
          A host updated <a routerLink="matches/{{activity.EntityId}}">this match</a> of <a routerLink="collection/{{activity.Entity.Game.GameId}}">{{activity.Entity.Game.Name}}</a>
        </span>
      </div>
    </td>
  </tr>
</table>
<div id="page-control">
  <pagination-controls *ngIf="activities.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>
</div>