<table class="table">
    <thead>
      <tr>
        <th>Date Joined</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{member.DateJoined | date }}</td>
        <td>{{member.DisplayName}}</td>
      </tr>
    </tbody>
  </table>
  <div id="page-control">
    <pagination-controls *ngIf="members.length > itemsPerPage" (pageChange)="page = $event"></pagination-controls>    
  </div>