<h2>My Game Nights</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hosts</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let night of gameNights">
      <td><a [routerLink]="['/game-night', night.id]">{{night.name}}</a></td>
      <td>
        <span *ngFor="let host of night.hosts">{{host.displayName }}</span>
      </td>
      <td>
        <span *ngFor="let member of night.members">{{member.displayName }}</span>
      </td>
    </tr>
  </tbody>
</table>
